In [48]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt 

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, MetaData, Table

In [49]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [50]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [51]:
# looking at table columns
metadata = MetaData()
Measurement_table = Table('Measurement', metadata, autoload=True, autoload_with=engine)
Station_table = Table('Station', metadata, autoload=True, autoload_with=engine)

print(Measurement_table.columns.keys())
print(Station_table.columns.keys())

['id', 'station', 'date', 'prcp', 'tobs']
['id', 'station', 'name', 'latitude', 'longitude', 'elevation']

## D1: Determine the Summary Statistics for June

In [71]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_data = []
june_data = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==6).all()
#june_data

june_df = pd.DataFrame(june_data, columns=['Date', 'Temps'])
june_df.head()

         Date  Temps
0  2010-06-01   78.0
1  2010-06-02   76.0
2  2010-06-03   78.0
3  2010-06-04   76.0
4  2010-06-05   77.0

In [72]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()
# June Summary

             Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [74]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

december_data = []
december_data = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==12).all()
#december_data

In [75]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_df = pd.DataFrame(december_data, columns=['Date', 'Temps'])
december_df.head()

         Date  Temps
0  2010-12-01   76.0
1  2010-12-03   74.0
2  2010-12-04   74.0
3  2010-12-06   64.0
4  2010-12-07   64.0

In [76]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_df.describe()
# December Summary

             Temps
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000